<html>
<head>Where have you been?</head>
  <body>

    <form action='/Place_Info' method='post'>

      <label for='Place_Name'>Name of Place:</label>
      <input id='Place_Name' name='Place_Name' type='text'>

      <label for='Stay_Time'>Stay Time:</label>
      <input id='Stay_Time' name='Stay_Time' type='text'>

      <button type='submit'>Add Place</button>

    </form>

      <form action='/delete_places' method='post'>
        <button type='submit'>clear</button>
  </body>
</html>
