<html>
<head>
<title>Where have you been?</title>
</head>
  <body>
    <h1>WOW! You Have been to so many places!</h1>
    <p>{{ newplace.getCityName }}</p>
    <p>{{ newplace.getStayTime }}</p>
    <p><a href='/'>Add more places</a></p>
  </body>
</html>
